.pageContainer {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 100%;
  width: 100%;

  .panel {
    width: 50%;
    // flex-grow: 1;
  }

  .divider {
    width: 2px;
    background-color: #ddd;
  }

  .previewPanel {
    position: relative;
    flex-grow: 1;

    >* {
      width: 100%;
      height: 100%;
    }

    .preview {
      border: none;
    }
  }
}

.hide {
  visibility: hidden;
}